<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNPJ</title>
</head>
<body>
    <h1>Company info</h1>
    <ul>
        <li>Nome: {{nome}}</li>
        <li>Nome fantasia: {{nome_fantasia}}</li>
        <li>CNPJ: {{cnpj_completo}}</li>
        <li>Socio: {{socio}}</li>
        <li>Estado: {{estado}}</li>
        <li>Bairro:{{bairro}}</li>
        <li>Logradouro: {{logradouro}}</li>
        <li>Numero: {{numero}}</li>
        <li>Cep: {{cep}}</li>
        <li>Municipio: {{municipio}}</li>


        
</body>
</html>