<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Master</title>
</head>
<body>
    <h1>Company Master</h1>
    <h3>Consult CNPJ</h3>
    <form action="#" method="post">
        <p><input type="text" name="nm"> <input type="submit" value="CNPJ" name="cnp"></p>
    </form>
    <h3>Consult subsidiary</h3>
    <form action="#" method="post">
        <p><input type="text" name="nm"> <input type="submit" value="Filial" name="cnp"></p>
    </form>
    <h3>Consult CNAEs</h3>
    <form action="#" method="post">
        <p><input type="submit" value="cnae" name="cnp"></p>
    </form>
    <h3>Consult Active Companies</h3>
    <form action="#" method="post">
        <p><input type="submit" value="active companies" name="cnp"></p>
    </form>
    <h3>Consult Oldest Company</h3>
    <form action="#" method="post">
        <p><input type="submit" value="oldest company" name="cnp"></p>
    </form>
    <h3>Consult Richest Companies</h3>
    <form action="#" method="post">
        <p><input type="submit" value="richest companies" name="cnp"></p>
    </form>
    <h3>Consult companies in the state</h3>
    <form action="#" method="post">
        <p><input type="text" name="nm"> <input type="submit" value="companies by state" name="cnp"></p>
    </form>
    <h3>Consult the total number of companies in Brazil</h3>
    <form action="#" method="post">
        <p><input type="submit" value="total companies" name="cnp"></p>
    </form>
   
</body>
</html>